@import 'tailwindcss';

@theme {
  --color-ZotBlue: #255799;
  --color-ZotGold: #FECC07;
  --color-ZotDarkBlue: #002244;
  --color-ZotDarkGold: #F0AB00;
  --color-ZotDarkGray: #555759;

  --font-family: 'ZotFont', sans-serif;
  --background-color: ZotDarkBlue;
  --background-image: url('./assets/animegirl.png');
  --text-color: ZotGold;
}

/* Uncomment once custom font is added */
/* @font-face {
  font-family: 'ZotFont';
  src: url('./assets/fonts/ZotFont.woff2') format('woff2'),
       url('./assets/fonts/ZotFont.woff') format('woff');
} */